In [1]:
import numpy as np
import pandas as pd
import PyPDF2
import torch
import time
from tqdm import tqdm

In [2]:
tqdm.pandas()

# Paths

In [3]:
datos = '../Data/RAW/'
raw_pages  = '../Data/PREP/raw_pages.parquet'
raw_scentences = '../Data/PREP/sentences.parquet'
data_sentiment = '../Data/PREP/sentiment.parquet'

# Datos en crudo

In [4]:
import os

In [5]:
bancos = os.listdir(datos)
print(len(bancos))

22

In [6]:
pdf_paths = []

for b in bancos:
    pdfs = []
    if b != '.DS_Store':
        pdfs = os.listdir(datos+b)
        
    for pdf in pdfs:
        pdf_paths.append(datos+b+'/'+pdf)

In [7]:
pdf_paths[-5:]

['../Data/RAW/ABANCA/ABANCA_2021.pdf',
 '../Data/RAW/ABANCA/ABANCA_2016.pdf',
 '../Data/RAW/ABANCA/ABANCA_2017.pdf',
 '../Data/RAW/ABANCA/ABANCA_2015.pdf',
 '../Data/RAW/ABANCA/ABANCA_2014.pdf']

In [8]:
print(len(pdf_paths))

201

## Proceso de lectura

In [11]:
start_time = time.time()

raw_texts = []
for path in pdf_paths:
    try:
        pdfReader = PyPDF2.PdfFileReader(path)
        #Discerning the number of pages will allow us to parse through all the pages.
        num_pages = pdfReader.numPages
    except:
        #print(f'Error with path: {path}')
        continue
    count = 0
    pages = []
    print(f'\n{path.split("/")[-1]}')
    while count < num_pages:
        print(f'Page {count+1}/{num_pages}', end="\r")
        pageObj = pdfReader.getPage(count)
        pages.append(pageObj.extractText())
        count += 1
    pdf_dict = {
        'path':path,
        'pages':pages,
    }
    raw_texts.append(pdf_dict)
    
end_time = time.time()

Annual+Report+2009.pdf
Page 436/436
Annual+Report+2008.pdf

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]

Page 404/404
Annual+Report+2018.pdf
Page 448/448
Annual+Report+2014.pdf
Page 610/610
Annual+Report+2012.pdf
Page 532/532
Annual+Report+2007.pdf
Page 373/373
Annual+Report+2013.pdf
Page 572/572
Annual+Report+2011.pdf
Page 528/528
Annual+Report+2010.pdf
Page 492/492
Roczny_2009.pdf
Page 120/120
Roczny_2008.pdf
Page 112/112
Roczny_2012.pdf
Page 116/116
Roczny_2013.pdf
Page 115/115
Roczny_2011.pdf
Page 115/115
Roczny_2010.pdf
Page 106/106
Roczny_2014.pdf
Page 129/129
Roczny_2015.pdf
Page 121/121
Roczny_2016.pdf
Page 134/134
WGZ_BANK_Annual-report-2015.pdf
Page 281/281
WGZ_BANK_Annual-report-2014.pdf
Page 269/269
WGZ_BANK_Annual-report-2013.pdf
Page 261/261
INTESA_1999.pdf
Page 154/154
INTESA_2001.pdf
Page 249/249
INTESA_2000.pdf
Page 132/132
INTESA_2002.pdf
Page 242/242
INTESA_2003.pdf
Page 244/244
INTESA_2006.pdf
Page 489/489
INTESA_2004.pdf
Page 249/249
INTESA_2005.pdf
Page 323/323
SANPAOLO_2006.pdf
Page 474/474
SANPAOLO_2005.pdf
Page 588/588
SANPAOLO_2004.pdf
Page 478/478
SANPAOLO_2000.pdf
Page 349/349
SANPAOLO_2001.pdf
Page 383/383
SANPAOLO_2003.pdf
Page 471/471
SANPAOLO_2002.pdf
Page 443/443
SANPAOLO_1999.pdf
Page 298/298
BANKINTER_2010.pdf
Page 155/155
BANKINTER_2011.pdf
Page 155/155
BANKINTER_2013.pdf
Page 143/143
BANKINTER_2012.pdf
Page 136/136
BANKINTER_2016.pdf
Page 179/179
BANKINTER_2017.pdf
Page 183/183
BANKINTER_2015.pdf
Page 172/172
BANKINTER_2014.pdf
Page 209/209
BANKINTER_2019.pdf
Page 122/122
BANKINTER_2018.pdf
Page 157/157
BANKINTER_2020.pdf
Page 134/134
BANKINTER_2021.pdf
Page 115/115
DP_Annual_2008.pdf
Page 192/192
DP_Annual_2007.pdf
Page 182/182
ABBEY_2008.pdf
Page 155/155
ABBEY_2007.pdf
Page 135/135
ABBEY_2006.pdf
Page 177/177
ABBEY_2004.pdf
Page 127/127
ABBEY_2005.pdf
Page 164/164
ABBEY_2003.pdf
Page 78/78
CA_2020.pdf
Page 62/62
CA_2008.pdf
Page 92/92
CA_2009.pdf
Page 94/94
CA_2021.pdf
Page 74/74
CA_2019.pdf
Page 52/52
CA_2018.pdf
Page 50/50
CA_2016.pdf
Page 552/552
CA_2017.pdf
Page 58/58
CA_2015.pdf
Page 79/79
CA_2014.pdf
Page 85/85
CA_2010.pdf
Page 94/94
CA_2011.pdf
Page 45/45
CA_2013.pdf
Page 82/82
CA_2012.pdf
Page 83/83
NB_Annual_Report_2019.pdf
Page 420/420
NB_Annual_Report_2018.pdf
Page 572/572
NB_Annual_Report_2015.pdf
Page 452/452
NB_Annual_Report_2014.pdf
Page 445/445
NB_Annual_Report_2016.pdf
Page 526/526
NB_Annual_Report_2017.pdf
Page 554/554
GRUPCAIXABANK_2019.pdf
Page 110/110
GRUPCAIXABANK_2018.pdf
Page 108/108
GRUPCAIXABANK_2020.pdf
Page 663/663
GRUPCAIXABANK_2021.pdf
Page 818/818
GRUPCAIXABANK_2015.pdf
Page 120/120
GRUPCAIXABANK_2014.pdf
Page 123/123
GRUPCAIXABANK_2016.pdf
Page 120/120
GRUPCAIXABANK_2017.pdf
Page 120/120
POPULAR_2014.pdf
Page 70/70
POPULAR_2015.pdf
Page 67/67
POPULAR_2016.pdf
Page 67/67
POPULAR_2012.pdf
Page 95/95
POPULAR_2013.pdf
Page 90/90
POPULAR_2011.pdf
Page 97/97
POPULAR_2010.pdf
Page 80/80
POPULAR_2009.pdf
Page 81/81
annual-report-and-accounts-2018.pdf
Page 322/322
annual-report-and-accounts-2019.pdf
Page 334/334
annual-report-and-accounts-2021.pdf
Page 410/410
annual-report-and-accounts-2020.pdf
Page 382/382
annual-report-and-accounts-2011.pdf
Page 440/440
annual-report-and-accounts-2010.pdf
Page 396/396
annual-report-and-accounts-2012.pdf
Page 546/546
annual-report-and-accounts-2013.pdf
Page 598/598
annual-report-and-accounts-2017.pdf
Page 274/274
annual-report-and-accounts-2016.pdf
Page 286/286
annual-report-and-accounts-2014.pdf
Page 488/488
annual-report-and-accounts-2015.pdf
Page 502/502
DresdnerBank_2003.pdf
Page 101/101
DresdnerBank_2005.pdf
Page 201/201
DresdnerBank_2004.pdf
Page 131/131
DresdnerBank_2006.pdf
Page 161/161
DresdnerBank_2007.pdf
Page 194/194
DresdnerBank_2008.pdf
Page 204/204
annual-report-bankia-2020.pdf
Page 186/186
annual-report-bankia-2019.pdf
Page 78/78
annual-report-bankia-2018.pdf
Page 266/266
annual-report-bankia-2016.pdf
Page 216/216
annual-report-bankia-2017.pdf
Page 232/232
annual-report-bankia-2015.pdf
Page 200/200
annual-report-bankia-2014.pdf
Page 200/200
DZBANK_Group_AR2011.pdf
Page 322/322
SANT-annual-report-en-2013.pdf
Page 274/274
SANT-annual-report-en-2012.pdf
Page 258/258
SANT-annual-report-en-2010.pdf
Page 218/218
SANT-annual-report-en-2011.pdf
Page 216/216
SANT-annual-report-en-2015.pdf
Page 296/296
SANT-annual-report-en-2014.pdf
Page 288/288
SANT-annual-report-en-2016.pdf
Page 286/286
SANT-annual-report-en-2017.pdf
Page 302/302
SANT-annual-report-en-2019.pdf
Page 788/788
SANT-annual-report-en-2018.pdf
Page 769/769
SANT-annual-report-en-2020.pdf
Page 842/842
SANT-annual-report-en-2009.pdf
Page 206/206
SANT-annual-report-en-2021.pdf
Page 810/810
NYSE_BBVA_2020.pdf
Page 590/590
NYSE_BBVA_2021.pdf
Page 503/503
NYSE_BBVA_2019.pdf
Page 517/517
NYSE_BBVA_2018.pdf
Page 179/179
NYSE_BBVA_2015.pdf
Page 248/248
NYSE_BBVA_2014.pdf
Page 379/379
NYSE_BBVA_2016.pdf
Page 341/341
NYSE_BBVA_2017.pdf
Page 168/168
COMMERZBANK_2006.pdf
Page 240/240
COMMERZBANK_2012.pdf
Page 359/359
COMMERZBANK_2013.pdf
Page 345/345
COMMERZBANK_2007.pdf
Page 271/271
COMMERZBANK_2011.pdf
Page 377/377
COMMERZBANK_2014.pdf
Page 347/347
COMMERZBANK_2009.pdf
Page 330/330
COMMERZBANK_2008.pdf
Page 325/325
BNPP_2015.pdf
Page 63/63
BNPP_2014.pdf
Page 64/64
BNPP_2016.pdf
Page 92/92
BNPP_2017.pdf
Page 42/42
BNPP_2013.pdf
Page 48/48
BNPP_2012.pdf
Page 76/76
BNPP_2010.pdf
Page 116/116
BNPP_2020.pdf
Page 41/41
BNPP_2009.pdf
Page 172/172
BNPP_2019.pdf
Page 34/34
BNPP_2018.pdf
Page 56/56
ABANCA_2019.pdf
Page 456/456
ABANCA_2018.pdf
Page 499/499
ABANCA_2016.pdf
Page 223/223
ABANCA_2017.pdf
Page 417/417
ABANCA_2015.pdf
Page 267/267
ABANCA_2014.pdf

Tiempo de ejecución:

In [15]:
total_time = end_time - start_time

print(f"--- Tiempo de ejecución: \n\t{round(total_time)} segundos\n\t{round(total_time/60,1)} minutos")

--- Tiempo de ejecución:
	1761 segundos
	29.4 minutos

In [16]:
num_pages

275

In [17]:
pageObj = pdfReader.getPage(4)

In [18]:
pageObj.extractText()

'ABANCA Corporación Bancaria, S.A.\nNota\nEjercicio 2014\nEjercicio 2013 (*)\nINTERESES Y RENDIMIENTOS ASIMILADOS\n28\n1.113.674\n1.457.707\nINTERESES Y CARGAS ASIMILADAS\n29\n(555.844)\n(788.842)\nMARGEN DE INTERÉS\n557.830\n668.865\nRENDIMIENTO DE INSTRUMENTOS DE CAPITAL\n30\n2.244\n1.852\nCOMISIONES PERCIBIDAS\n31\n159.791\n182.009\nCOMISIONES PAGADAS\n32\n(18.931)\n(24.557)\nRESULTADOS DE OPERACIONES FINANCIERAS (neto)\n33\n422.948\n609.018\n   Cartera de negociación\n10\n209\n2.520\n   Instrumentos financieros no valorados a valor razonable con cambios en pérdidas y ganancias\n422.947\n631.531\n   Otros\n10\n(208)\n(25.033)\nDIFERENCIAS DE CAMBIO (neto)\n4.988\n4.393\nOTROS PRODUCTOS DE EXPLOTACIÓN\n34\n158.280\n21.362\nOTRAS CARGAS DE EXPLOTACIÓN\n37\n(103.987)\n(128.615)\nMARGEN BRUTO\n1.183.163\n1.334.327\nGASTOS DE ADMINISTRACIÓN\n(447.000)\n(506.689)\n   Gastos de personal\n35\n(274.462)\n(328.084)\n   Otros gastos generales de administración\n36\n(172.538)\n(178.605)\nAMORTIZACIÓN\n(36.452)\n(45.405)\n   Activo material\n13\n(36.387)\n(45.374)\n   Activo intangible\n14\n(65)\n(31)\nPÉRDIDAS POR DETERIORO DE ACTIVOS FINANCIEROS (neto)\n(47.914)\n(247.547)\n   Inversiones crediticias\n9\n(47.914)\n(228.732)\n   Activos financieros disponibles para la venta\n8 y 11\n-\n(18.815)\nDOTACIONES A PROVISIONES (neto)\n21\n(25.074)\n(396.492)\nRESULTADO DE LAS ACTIVIDADES DE EXPLOTACIÓN\n626.723\n138.194\nPÉRDIDAS POR DETERIORO DEL RESTO DE ACTIVOS (neto)\n111.692\n(315.116)\n   Otros activos\n12 y 13\n111.692\n(315.116)\nGANANCIAS (PÉRDIDAS) EN LA BAJA DE ACTIVOS NO CLASIFICADOS COMO NO CORRIENTES EN VENTA\n38\n13.367\n(6.865)\nGANANCIAS (PÉRDIDAS) DE ACTIVOS NO CORRIENTES EN VENTA \nNO CLASIFICADOS COMO OPERACIONES INTERRUMPIDAS\n11\n74\n(385.932)\nRESULTADO ANTES DE IMPUESTOS\n751.856\n(569.719)\nIMPUESTO SOBRE BENEFICIOS\n26\n446.807\n364.235\nRESULTADO DEL EJERCICIO PROCEDENTE DE OPERACIONES CONTINUADAS\n1.198.663\n(205.484)\nRESULTADO DE OPERACIONES INTERRUMPIDAS (NETO)\n-\n-\nRESULTADO DEL EJERCICIO\n1.198.663\n(205.484)\nBENEFICIO/(PÉRDIDA) POR ACCIÓN\nBásico\n0,5285\n(0,1054)\nDiluido\n0,5285\n(0,1054)\nLas Notas 1 a 49 descritas en la Memoria y los Anexos I a III adjuntos,\nforman parte integrante de las cuentas anuales del ejercicio 2014\nCUENTAS DE PÉRDIDAS Y GANANCIAS CORRESPONDIENTES A LOS EJERCICIOS ANUALES TERMINADOS\nEL 31 DE DICIEMBRE DE 2014 Y 2013\n (Miles de Euros)\nIngresos / (Gastos)\n(*) Se presenta, única y exclusivamente, a efectos comparativos. Véase Nota 1.3.\n3\n'

In [19]:
data = pd.DataFrame(raw_texts)
data['bank'] = data['path'].apply(lambda x: x.split('/')[3])
data['year'] = data['path'].apply(lambda x: x[-8:-4])
data

,path,pages,bank,year
0,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2009.pdf,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...,DEUTSCHE_BANK,2009
1,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2008.pdf,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...,DEUTSCHE_BANK,2008
2,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2018.pdf,"[ Annual Report\n 2018\nDeutsche Bank, Deutsch...",DEUTSCHE_BANK,2018
3,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2014.pdf,"[\n\n \n earning trust\n, Deutsche Bank\n\n\nB...",DEUTSCHE_BANK,2014
4,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2012.pdf,[12006_DB_GB_Cover final_mit Rücken.indd All...,DEUTSCHE_BANK,2012
...,...,...,...,...
160,../Data/RAW/ABANCA/ABANCA_2018.pdf,"[ ABANCA \nCorporación \n\nBancaria, S.A.\n ...",ABANCA,2018
161,../Data/RAW/ABANCA/ABANCA_2016.pdf,"[ Abanca Corporación \nBancaria, S.A.\n Annu...",ABANCA,2016
162,../Data/RAW/ABANCA/ABANCA_2017.pdf,"[ ABANCA \nCorporación \n\nBancaria, S.A.\n ...",ABANCA,2017
163,../Data/RAW/ABANCA/ABANCA_2015.pdf,"[, , , , , , , , ABANCA Corporación Bancaria, ...",ABANCA,2015
164,../Data/RAW/ABANCA/ABANCA_2014.pdf,[ \nCuentas Anuales\n \n31 de diciembre de 201...,ABANCA,2014

In [20]:
data = data.explode('pages').reset_index().reset_index()

In [21]:
data

,level_0,index,path,pages,bank,year
0,0,0,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2009.pdf,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,DEUTSCHE_BANK,2009
1,1,0,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2009.pdf,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,DEUTSCHE_BANK,2009
2,2,0,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2009.pdf,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,DEUTSCHE_BANK,2009
3,3,0,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2009.pdf,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,DEUTSCHE_BANK,2009
4,4,0,../Data/RAW/DEUTSCHE_BANK/Annual+Report+2009.pdf,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...,DEUTSCHE_BANK,2009
...,...,...,...,...,...,...
43888,43888,164,../Data/RAW/ABANCA/ABANCA_2014.pdf,34\n \n \nLa entidad también podrá indicar si ...,ABANCA,2014
43889,43889,164,../Data/RAW/ABANCA/ABANCA_2014.pdf,35\n \n \n \n-\n \nApartados B.1 y B.2: el quó...,ABANCA,2014
43890,43890,164,../Data/RAW/ABANCA/ABANCA_2014.pdf,36\n \n \nparticipadas o a alguna de sus Comis...,ABANCA,2014
43891,43891,164,../Data/RAW/ABANCA/ABANCA_2014.pdf,37\n \n \nIndique los Consejeros o Miembros de...,ABANCA,2014
43892,43892,164,../Data/RAW/ABANCA/ABANCA_2014.pdf,Reunido el Consejo de Administración ABANCA Co...,ABANCA,2014

In [22]:
data['page'] = data.groupby('index').rank('max').rename(columns={'level_0':'page'})['page']

In [23]:
data['page'] = data['page'].astype('int')

In [24]:
df_data = (data.drop(columns=['level_0','index','path'])
               .set_index(['bank','year','page'])
               .rename(columns={'pages':'text'})
          )

## Save Checkpoint

In [25]:
df_data.to_parquet(raw_pages)

In [7]:
df_data = pd.read_parquet(raw_pages)

## Procesado de Texto

In [62]:
df_data.head()

                                                                      text
bank          year page
DEUTSCHE_BANK 2009 1     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   2     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   3     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   4     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   5     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...

In [63]:
def clean_text(text):
    import re
    text = re.sub(r"\n\n", ".", text)
    text = re.sub(r"\n", " ", text)
    text = re.sub(":", " ", text)
    text = re.sub(r"[^a-zA-Z.\s:]", "", text)
    text = re.sub(r' +', ' ', text)
    text = text.strip()
    if text == '':
        return None
    return list(filter(None, text.split('.')))

In [64]:
df_data['scentences'] = df_data['text'].progress_apply(lambda x: clean_text(x))
df_data = df_data.dropna()
df_data

100%|█████████████████████████████████████████████████████████████████████████████████████| 43893/43893 [00:08<00:00, 5117.09it/s]

                                                                      text  \
bank          year page
DEUTSCHE_BANK 2009 1     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   2     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   3     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   4     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   5     \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
...                                                                    ...
ABANCA        2014 271   34\n \n \nLa entidad también podrá indicar si ...
                   272   35\n \n \n \n-\n \nApartados B.1 y B.2: el quó...
                   273   36\n \n \nparticipadas o a alguna de sus Comis...
                   274   37\n \n \nIndique los Consejeros o Miembros de...
                   275   Reunido el Consejo de Administración ABANCA Co...

                                                                scentences
bank          year page
DEUTSCHE_BANK 2009 1                                                    []
                   2          [ Draft for theManagement BoardStand xx, xx]
                   3                                                    []
                   4                                                    []
                   5                                                    []
...                                                                    ...
ABANCA        2014 271   [La entidad tambin podr indicar si se ha adher...
                   272   [Apartados B,  y B,  el qurum de constitucin d...
                   273   [participadas o a alguna de sus Comisiones de ...
                   274   [Indique los Consejeros o Miembros del rgano d...
                   275   [Reunido el Consejo de Administracin ABANCA Co...

[42864 rows x 2 columns]

In [65]:
# all_text = df_data.dropna().clean_text.to_numpy()
# all_text[1000:1001]

In [66]:
df_scentence = df_data.explode('scentences').dropna()
df_scentence['scentence'] = df_scentence.groupby(df_scentence.index).rank('max')['scentences']
df_scentence['scentence'] = df_scentence['scentence'].astype('int')
df_scentence.set_index('scentence', append=True, inplace=True)

In [67]:
df_scentence.head()

                                                                                text  \
bank          year page scentence
DEUTSCHE_BANK 2009 2    1          \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                        2          \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   51   1          \n\n\n˜ ˚\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
                   75   1          \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
                   79   1          \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n...

                                                               scentences
bank          year page scentence
DEUTSCHE_BANK 2009 2    1           Draft for theManagement BoardStand xx
                        2                                              xx
                   51   1
                   75   1                                          FSCCOC
                   79   1           Draft for theManagement BoardStand xx

## Filtramos donde haya 10 palabras o más:

In [68]:
n_words = 10

In [69]:
df_scentence['length'] = df_scentence['scentences'].apply(lambda x: len(x.strip().split(' ')))

In [73]:
tensor_limit = 512
dataset = df_scentence[(df_scentence.length >= n_words) & (df_scentence.length <= tensor_limit)]

In [79]:
dataset_sc = dataset.drop(columns=['text'])
dataset_sc

                                                                          scentences  \
bank          year page scentence
DEUTSCHE_BANK 2009 82   47         The Group at a Glance We calculate this adjust...
                        41          We refer to this adjusted measure as our Pret...
                        26          However this is not a measure of performance ...
                        36          The item for which w e adjust the average sha...
                        35          The dividend payment is paid once a year foll...
...                                                                              ...
ABANCA        2014 275  14          el de febrero de en sus oficinas de Oviedo As...
                        12          Todos los documentos han sido visados por el ...
                        4           Hasta donde alcanza nuestro conocimiento las ...
                        1           Asimismo el Informe de G estin incluye un anl...
                        15          junto con la descripcin de los principales ri...

                                   length
bank          year page scentence
DEUTSCHE_BANK 2009 82   47             29
                        41             14
                        26             31
                        36             60
                        35             17
...                                   ...
ABANCA        2014 275  14            143
                        12             37
                        4              46
                        1              21
                        15             15

[424900 rows x 2 columns]

## Save Checkpoint II

In [80]:
dataset_sc.to_parquet(raw_scentences)

In [6]:
dataset = pd.read_parquet(raw_scentences)

# Sentiment Analysis

In [9]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("mrm8488/distilroberta-finetuned-financial-news-sentiment-analysis")

model = AutoModelForSequenceClassification.from_pretrained("mrm8488/distilroberta-finetuned-financial-news-sentiment-analysis")

Downloading:   0%|          | 0.00/333 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/780k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/446k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.29M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/239 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/933 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/313M [00:00<?, ?B/s]

In [83]:
#inputs = tokenizer("The stock market crashed", return_tensors="pt")["input_ids"]

In [84]:
#inputs[:,:tensor_limit]

In [85]:
#outputs = model(inputs)

In [86]:
#logits = outputs[0]

In [87]:
# sentiment_score = pd.Series(logits[:, 0] - logits[:, 1])
# predictions = np.squeeze(np.argmax(logits, axis=1))

In [10]:
tensor_limit = 512

def softmax(x):
    """Compute softmax values for each sets of scores in x."""
    e_x = np.exp(x - np.max(x, axis=1)[:, None])
    return e_x / np.sum(e_x, axis=1)[:, None]

def tokenizePhrases(text_payload):
    return tokenizer(text_payload, return_tensors="pt")["input_ids"][:,:tensor_limit]

def sentimentAnalysis(inputs):
    return model(inputs).logits

def softmaxResult(logits):
    return softmax(np.array(logits.detach()))[0]

def sentimentAnalysis_full(text_payload):
    inputs = tokenizer(text_payload, return_tensors="pt")["input_ids"][:,:tensor_limit]
    logits = model(inputs).logits
    return softmax(np.array(logits.detach()))[0]

## Análisis de sentimiento
Comprobamos el tiempo de ejecución, con y sin la paralelización del proceso.

In [118]:
# from pandarallel import pandarallel

# pandarallel.initialize(progress_bar=True)

In [120]:
# import os
# os.environ["TOKENIZERS_PARALLELISM"] = "false"

In [11]:
start_sentiment_time = time.time()
dataset['sentiment'] = dataset.scentences.progress_apply(lambda x: sentimentAnalysis_full(x))
                                        #.parallel_apply(lambda x: sentimentAnalysis(x))
                                        #.progress_apply(lambda x: sentimentAnalysis(x))
# dataset['sentiment'] = dataset.sentiment.progress_apply(lambda x: sentimentAnalysis(x))
# dataset['sentiment'] = dataset.sentiment.progress_apply(lambda x: softmaxResult(x))
        
end_sentiment_time = time.time()

 31%|██████████████████████                                                  | 130442/424900 [45:28<1:32:47, 52.89it/s]Token indices sequence length is longer than the specified maximum sequence length for this model (601 > 512). Running this sequence through the model will result in indexing errors
100%|████████████████████████████████████████████████████████████████████████| 424900/424900 [2:35:30<00:00, 45.54it/s]

Tiempo de ejecución con un solo Core de la CPU: `7h:12m:48s`, `16.28it/s`

Tiempo de ejecución con paralelización de la CPU: `2h:30m:50s`, `50.82it/s`

In [16]:
total_sentiment_time = end_sentiment_time - start_sentiment_time

print(f"--- Tiempo de ejecución: \n\t{round(total_sentiment_time)} segundos\n\t{round(total_sentiment_time/60,1)} minutos")

--- Tiempo de ejecución:
	9330 segundos
	155.5 minutos

In [90]:
#dataset.to_csv(data_sentiment)

In [13]:
dataset['negative'] = dataset['sentiment'].progress_apply(lambda x: x[0])
dataset['neutral']  = dataset['sentiment'].progress_apply(lambda x: x[1])
dataset['positive'] = dataset['sentiment'].progress_apply(lambda x: x[2])

100%|██████████████████████████████████████████████████████████████████████| 424900/424900 [00:00<00:00, 986196.57it/s]
100%|██████████████████████████████████████████████████████████████████████| 424900/424900 [00:00<00:00, 986254.97it/s]
100%|██████████████████████████████████████████████████████████████████████| 424900/424900 [00:00<00:00, 995358.63it/s]

In [14]:
df_export = dataset.drop(columns='sentiment')

In [15]:
df_export.to_parquet(data_sentiment)